*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width:100%;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(12, 12, 12);
 

}


@import'home';
@import'music';
@import'contact';